In [1]:
# Ask the user to enter a string. Report to the user:
# - The number of digits (0-9)
# - The number of vowels
# - The number of other characters

In [3]:
digit_count = 0
vowel_count = 0
other_count = 0

s = raw_input("Enter a string: ").strip()    # in Python 3, use "input" not "raw_input"

for one_character in s:
    if one_character.isdigit():
        digit_count += 1
    elif one_character in 'aeiou':
        vowel_count += 1
    else:
        other_count += 1
        
print('digits {0}, vowels {1}, other {2}'.format(digit_count,
                                                vowel_count,
                                                other_count))

Enter a string: today is the 17th of May!
digits 2, vowels 6, other 17

In [4]:
print('Hello!')
print('Hello!')
print('Hello!')
print('Hello!')
print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!

In [6]:
# DRY -- don't repeat yourself

for counter in range(5):
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!

In [7]:
for counter in range(5):
    print('{0}: Hello!'.format(counter))

0: Hello!
1: Hello!
2: Hello!
3: Hello!
4: Hello!

In [9]:
for counter in range(5,10):
    print('{0}: Hello!'.format(counter))

5: Hello!
6: Hello!
7: Hello!
8: Hello!
9: Hello!

In [10]:
for counter in range(5,20,2):
    print('{0}: Hello!'.format(counter))

5: Hello!
7: Hello!
9: Hello!
11: Hello!
13: Hello!
15: Hello!
17: Hello!
19: Hello!

In [8]:
s = 'abcdefghij'
s[3:6]

'def'

In [11]:
s[2:8:3]

'cf'

In [12]:
for i in range(len(s)):
    print('{0}: {1}'.format(i, s[i]))

0: a
1: b
2: c
3: d
4: e
5: f
6: g
7: h
8: i
9: j

In [13]:
for one_character in s:
    print(one_character)

a
b
c
d
e
f
g
h
i
j

In [14]:
for index, one_character in enumerate(s):
    print('{0}, {1}'.format(index, one_character))

0, a
1, b
2, c
3, d
4, e
5, f
6, g
7, h
8, i
9, j

In [ ]:
# # name triangle

# Enter your name: Reuven
    
# R
# Re
# Reu
# Reuv
# Reuve
# Reuven

In [18]:
name = 'Reuven'

for maxindex in range(len(name)):
    print(name[:maxindex+1])

R
Re
Reu
Reuv
Reuve
Reuven

In [19]:
name = 'Reuven'

for maxindex in range(1, len(name) + 1):
    print(name[:maxindex])

R
Re
Reu
Reuv
Reuve
Reuven

In [21]:
x = 5
if x > 0:
    print('x = {0}'.format(x))

x = 5

In [23]:
print("Start")
x = 5
while x > 0:
    print('x = {0}'.format(x))
    x -= 1
print("End")

Start
x = 5
x = 4
x = 3
x = 2
x = 1
End

In [25]:
name = 'Reuven'
print('Hello, ' + name)

Hello, Reuven

In [26]:
'Hello, {0}'.format(name)

'Hello, Reuven'

In [27]:
f'Hello, {name}'

SyntaxError: invalid syntax (<ipython-input-27-4448c731bc12>, line 1)

In [28]:
while True:
    s = raw_input("Enter your name: ").strip()
    
#     if s == '':
#         break

    if not s:   # if s is empty, leave the loop
        break

    print('Hello, {0}'.format(s))

Enter your name: Reuven
Hello, Reuven
Enter your name: asdfadf
Hello, asdfadf
Enter your name: world
Hello, world
Enter your name:

In [ ]:
Number: 10
Number: 20
Number: abc
      Not a number!  Try again
Number: 30
Number: <enter>
    
Total is 60

In [29]:
# abcd += 1   # abcd = abcd + 1

In [30]:
# .isdigit 
# .isdecimal
# .isnumeric

In [32]:
total = 0

while True:
    s = raw_input("Number: ").strip()
    
    if not s:
        break

    if not s.isdigit():
        print('{0} is not a number; try again'.format(s))
        continue
        
    total += int(s)
    
print('Total is {0}'.format(total))

Number: 10
Number: 20
Number: abcd
abcd is not a number; try again
Number: 30
Number:
Total is 60

In [34]:
mylist = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
type(mylist)

list

In [35]:
mylist[0]

10

In [36]:
mylist[5]

60

In [37]:
mylist[-1]

100

In [38]:
mylist[2:7]

[30, 40, 50, 60, 70]

In [39]:
mylist[:6]

[10, 20, 30, 40, 50, 60]

In [40]:
40 in mylist

True

In [41]:
'abcd' in mylist

False

In [42]:
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [43]:
for one_item in mylist:
    print(one_item)

10
20
30
40
50
60
70
80
90
100

In [44]:
s = 'abcd'
s[0]

'a'

In [46]:
s[0] = '!'   # immutable

TypeError: 'str' object does not support item assignment

In [47]:
mylist = [10, 20, 30]
biglist = [mylist, mylist, mylist]

In [48]:
mylist[0] = '!'

In [49]:
mylist

['!', 20, 30]

In [50]:
biglist

[['!', 20, 30], ['!', 20, 30], ['!', 20, 30]]

In [51]:
mylist = [10, 20, 30]
biglist = [mylist, mylist, mylist]

mylist[0] = '!'
print(mylist)
print(biglist[0])
print(biglist[1])
print(biglist[2])

['!', 20, 30]
['!', 20, 30]
['!', 20, 30]
['!', 20, 30]

In [52]:
mylist = [10, 20, 30]

mylist.append(40)
mylist

[10, 20, 30, 40]

In [53]:
mylist.insert(2, 999)
mylist

[10, 20, 999, 30, 40]

In [54]:
mylist.append([100, 200, 300])
mylist

[10, 20, 999, 30, 40, [100, 200, 300]]

In [55]:
mylist += [400, 500, 600 ]

In [56]:
mylist

[10, 20, 999, 30, 40, [100, 200, 300], 400, 500, 600]

In [ ]:
Number: 10
Number: 11
Number: 12
Number: 13
Number: abcd
     Not a number; try again
Number: <enter>
    
evens will be [10, 12]
    sum is 22, average is 11

odds will be [11, 13]
    sum is 24, average is 12

In [57]:
mylist = []

In [58]:
mylist = [10, 20, 30]
mylist.append(40)
mylist.append(50)

mylist

[10, 20, 30, 40, 50]

In [60]:
mylist = [10, 20, 30]
mylist.append(40)
mylist.append(50)

mylist

[10, 20, 30, 40, 50]

In [65]:
even_numbers = []
odd_numbers = []

while True:
    
    s = raw_input("Number: ").strip()
    
    if not s:
        break
        
    if not s.isdigit():
        print('{0} is not numeric'.format(s))
        continue
        
    n = int(s)
    
    if n % 2 == 0:
        even_numbers.append(n)
    else:
        odd_numbers.append(n)
        
for one_list in [even_numbers, odd_numbers]:
    print(one_list)
    total = 0
    for one_item in one_list:
        total += one_item
    print('\tsum {0}, average {1}'.format(total, 
                                          total / len(one_list)))

Number: 10
Number: 11
Number: 12
Number: 13
Number:
[10, 12]
	sum 22, average 11
[11, 13]
	sum 24, average 12

In [63]:
even_numbers

[10, 20]

In [64]:
odd_numbers

[11, 21]

In [66]:
even_numbers = []
odd_numbers = []

while True:
    
    s = raw_input("Number: ").strip()
    
    if not s:
        break
        
    if not s.isdigit():
        print('{0} is not numeric'.format(s))
        continue
        
    n = int(s)
    
    if n % 2 == 0:
        even_numbers.append(n)
    else:
        odd_numbers.append(n)
        
for one_list in [even_numbers, odd_numbers]:
    print(one_list)
    print('\tsum {0}, average {1}'.format(sum(one_list), 
                                          sum(one_list) / len(one_list)))

Number: 10
Number: 11
Number: 12
Number: 13
Number:
[10, 12]
	sum 22, average 11
[11, 13]
	sum 24, average 12

In [67]:
mylist = [10, 20, 30, 20, 30, 40, 20, 30, 40, 50]

40 in mylist

True

In [68]:
mylist.index(40)

5

In [69]:
mylist.index(20)

1

In [70]:
mylist.rindex(20)

AttributeError: 'list' object has no attribute 'rindex'

In [71]:
mylist

[10, 20, 30, 20, 30, 40, 20, 30, 40, 50]

In [72]:
mylist.pop()  # default is from the end

50

In [73]:
mylist

[10, 20, 30, 20, 30, 40, 20, 30, 40]

In [74]:
mylist.pop(3)

20

In [75]:
mylist

[10, 20, 30, 30, 40, 20, 30, 40]

In [76]:
mylist.remove(40)

In [77]:
mylist

[10, 20, 30, 30, 20, 30, 40]

In [78]:
mylist.remove(30)

In [79]:
mylist

[10, 20, 30, 20, 30, 40]

In [80]:
mylist.remove(99)

ValueError: list.remove(x): x not in list

In [81]:
mylist = [10, 20, 30, 40, 10, 20, 30, 40, 50]

In [84]:
mylistst.index(20)+1:][myli.remove(20)

In [85]:
mylist

[10, 20, 30, 40, 10, 20, 30, 40, 50]

In [86]:
import random

In [87]:
random.choice(mylist)

10

In [88]:
random.choice(mylist)

40

In [89]:
mylist = [10, 30, 20, 5, 7, 12]

mylist.sort()  

mylist

[5, 7, 10, 12, 20, 30]

In [90]:
mylist = [10, 30, 20, 5, 7, 12]

sorted(mylist)

[5, 7, 10, 12, 20, 30]

In [91]:
mylist

[10, 30, 20, 5, 7, 12]

In [92]:
random.shuffle(mylist)

In [93]:
mylist

[30, 7, 12, 5, 10, 20]

In [94]:
random.shuffle(mylist)

In [95]:
mylist

[20, 12, 10, 7, 30, 5]

In [96]:
s = '123'
int(s)

123

In [97]:
i = 123
str(i)

'123'

In [98]:
list(s)

['1', '2', '3']

In [99]:
mylist = [10, 20, 30]
str(mylist)

'[10, 20, 30]'

In [ ]:
one_line = 'abcde,fghij,kl,m'