In [1]:
# None
# bool -- True False
# int, float

# sequence
# - str     -- immutable, contains characters (bytes)
# - list    -- mutable, contains anything
# - tuple   -- immutable, contains anything

In [2]:
# [i] -- get an item
# [b:e] -- get a slice
# [b:e:s] -- get a slice, step size s
# "in" finds in a sequence
# .index returns the index of an item
# for loops on sequences

In [3]:
d = {}  
type(d)

dict

In [4]:
len(d)

0

In [5]:
# key-value pairs  ... name-value pairs

d = {'a':1, 'b':2, 'c':3}

In [6]:
len(d)

3

In [7]:
d['b']

2

In [8]:
d['c']

3

In [9]:
d['a']

1

In [10]:
d['A']

KeyError: 'A'

In [11]:
x = 'a'
d[x]

1

In [12]:
d

{'a': 1, 'b': 2, 'c': 3}

In [16]:
'a' in d  # searches in keys, not values

True

In [14]:
d

{'a': 1, 'b': 2, 'c': 3}

In [15]:
1 in d

False

In [17]:
dict()

{}

In [18]:
dict([('a',1), ('b',2), ('c',3)])

{'a': 1, 'b': 2, 'c': 3}

In [19]:
# (1) Create a "menu" dictionary, where items are keys and prices are values
# (2) Ask the user to order something.  Results can be:
# - Empty string, we print the total and exit
# - Something on the menu, we print the price and new total
# - Something *NOT* on the menu, we scold the customer

In [ ]:
Order: sandwich
  sandwich is 20, total is 20
Order: tea
  tea is 10, total is 30
Order: elephant
  We are fresh out of elephant today
Order: <enter>
Your total is 30

In [ ]:
dict([
    ('a',1), 
          ('b',2), 
              ('c',3)
])

In [21]:
menu = {'sandwich':20, 'tea':10, 'salad':25}

total = 0

while True:
    order = raw_input("Order: ").strip()
    
    if not order:
        break
        
    if order in menu:
        price = menu[order]
        total += price
        print('{0} costs {1}, total is {2}'.format(order, price, total))
    else:
        print('We are out of {0} today.'.format(order))
        
print('Total is {0}'.format(total))

Order: sandwich
sandwich costs 20, total is 20
Order: tea
tea costs 10, total is 30
Order: elephant
We are out of elephant today.
Order:
Total is 30

In [22]:
d = {}
d['a'] = 1

d

{'a': 1}

In [23]:
d['b'] = 2
d['c'] = 3

d

{'a': 1, 'b': 2, 'c': 3}

In [24]:
d['a'] = 999
d

{'a': 999, 'b': 2, 'c': 3}

In [25]:
mylist = [100, 200, 300]
d[mylist] = 400

TypeError: unhashable type: 'list'

In [26]:
d = {'a':1, 'b':2, 'c':3}

while True:
    k = raw_input("Enter a key: ").strip()
    
    if not k:
        break
        
    if k in d:
        print('d[{0}] is {1}'.format(k, d[k]))
    else:
        print('{0} is not a key in d'.format(k))

Enter a key: a
d[a] is 1
Enter a key: b
d[b] is 2
Enter a key: c
d[c] is 3
Enter a key: asdfafaf
asdfafaf is not a key in d
Enter a key:

In [27]:
d

{'a': 1, 'b': 2, 'c': 3}

In [28]:
d.get('a')   # if 'a' in d, return d['a']

1

In [29]:
d.get('b')

2

In [30]:
d.get('x')  # if 'x' in d, return d['x'] ... otherwise, None

In [31]:
d.get('x', 'Nothing to see here')  # if 'x' in d, return d['x'] ... otherwise, our str

'Nothing to see here'

In [32]:
# City: Jerusalem
# Rain: 3
# City: Tel Aviv
# Rain: 4
# City: Jerusalem
# Rain: 5
# City: <enter>
    
# {'Jerusalem':8, 'Tel Aviv':4}

In [35]:
rainfall = {}

while True:
    city_name = raw_input("Enter city name: ").strip()
    
    if not city_name:
        break
        
    mm_rain = int(raw_input("Enter mm rain: "))
    
    rainfall[city_name] = rainfall.get(city_name, 0) + mm_rain

#     if city_name in rainfall:
#         rainfall[city_name] += mm_rain    
#     else:
#         rainfall[city_name] = mm_rain
    
print(rainfall)

Enter city name: Jerusalem
Enter mm rain: 5
Enter city name: Tel Aviv
Enter mm rain: 6
Enter city name: Jerusalem
Enter mm rain: 7
Enter city name:
{'Tel Aviv': 6, 'Jerusalem': 12}

In [36]:
mylist = [10, 20, 30, 40, 50]

for one_item in mylist:
    print(one_item)

10
20
30
40
50

In [37]:
d = {'a':1, 'b':2, 'c':3}

for one_item in d:
    print(one_item)

a
c
b

In [38]:
d = {'a':1, 'b':1, 'c':1, 'd':1}

In [39]:
d['a']

1

In [40]:
d['b']

1

In [41]:
d = {'a':1, 'b':2, 'c':3}

for one_item in d:
    print(one_item)

a
c
b

In [42]:
for one_key in d:
    print('{0}: {1}'.format(one_key, d[one_key]))

a: 1
c: 3
b: 2

In [43]:
d.items()

[('a', 1), ('c', 3), ('b', 2)]

In [44]:
for t in d.items():
    print('{0}: {1}'.format(t[0], t[1]))

a: 1
c: 3
b: 2

In [45]:
for index, item in enumerate(mylist):
    print('{0}: {1}'.format(index, item))

0: 10
1: 20
2: 30
3: 40
4: 50

In [46]:
for key, value in d.items():
    print('{0}: {1}'.format(key, value))

a: 1
c: 3
b: 2

In [47]:
d.keys()

['a', 'c', 'b']

In [48]:
d.values()

[1, 3, 2]

In [49]:
3 in d.values()

True

In [50]:
str(d)

"{'a': 1, 'c': 3, 'b': 2}"

In [51]:
'*'.join(d)

'a*c*b'

In [52]:
d.items()

[('a', 1), ('c', 3), ('b', 2)]

In [53]:
dict(d.items())

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# dict with words + number of vowels per word

apple   # 2
banana  # 3
kiwi    # 2
apricot # 3

In [54]:
words = {}

while True:
    one_word = raw_input("Enter word: ").strip()
    
    if not one_word:
        break
        
    vowel_count = 0
    for one_letter in one_word:
        if one_letter in 'aeiou':
            vowel_count += 1
    words[one_word] = vowel_count

Enter word: apple
Enter word: banana
Enter word: kiwi
Enter word: apricot
Enter word: peach
Enter word: plum
Enter word: watermelon
Enter word:

In [55]:
words

{'apple': 2,
 'apricot': 3,
 'banana': 3,
 'kiwi': 2,
 'peach': 2,
 'plum': 1,
 'watermelon': 4}

In [56]:
for one_word, count in words.items():
    print('{0}: {1}'.format(one_word, count))

kiwi: 2
apple: 2
peach: 2
apricot: 3
plum: 1
watermelon: 4
banana: 3

In [63]:
for one_word, count in words.items():
    print('{0:.<12}{1}'.format(one_word, count))

kiwi........2
apple.......2
peach.......2
apricot.....3
plum........1
watermelon..4
banana......3

In [64]:
maxsize = 12

for one_word, count in words.items():
    print('{0:.<maxsize}{1}'.format(one_word, count))

ValueError: Invalid conversion specification

In [ ]:
# # Python 3

# for one_word, count in words.items():
#     print(f'{one_word:.<12}{count}')

In [65]:
for one_word, count in words.items():
    print('{0:.<12}{1}'.format(one_word, count))

kiwi........2
apple.......2
peach.......2
apricot.....3
plum........1
watermelon..4
banana......3

In [66]:
'a' * 3

'aaa'

In [67]:
for one_word, count in words.items():
    print('{0:.<12}{1}'.format(one_word, 'x' * count))

kiwi........xx
apple.......xx
peach.......xx
apricot.....xxx
plum........x
watermelon..xxxx
banana......xxx

In [68]:
d = {'a':1, 'b':2, 'c':3}

for one_key in d:
    print(one_key)

a
c
b

In [69]:
d = {}

               key        |        value
               
           0     a                   1
           1
           2     c                   3
           3     b                   2
           4
           5
           6
           7

In [70]:
d['a'] = 1

In [72]:
hash('a') % 8

0

In [73]:
d['b'] = 1
hash('b') % 8

3

In [74]:
d['c'] = 1
hash('c') % 8

2

In [75]:
d.keys()

['a', 'c', 'b']

In [76]:
d['a']    #  O(1) + e

1

            index       key            value
              0         'a'            1
              1         'b'            2
              2         'c'            3
            

         [ 0, None, 2, 1, None, None, None, None ]

In [77]:
d = {}
d['a'] = 1
hash('a') % 8

0

In [78]:
d['b'] = 2
hash('b') % 8

3

In [79]:
d['c'] = 3
hash('c') % 8

2

In [80]:
d['i'] = 100
d

{'a': 1, 'b': 2, 'c': 3, 'i': 100}

In [81]:
d.keys()

['a', 'i', 'c', 'b']

In [82]:
d = {'a':1, 'b':2, 'c':3}

d.get('b')

2

In [83]:
d.get('x')

In [84]:
d.get('x', 'No value for x')

'No value for x'

In [85]:
d.setdefault('a', 999)

1

In [86]:
d.setdefault('x', 999)

999

In [87]:
d

{'a': 1, 'b': 2, 'c': 3, 'x': 999}

In [89]:
d1 = {'a':1, 'b':2, 'c':3}
d2 = {'b':20, 'c':30, 'd':40, 'e':50}

In [90]:
'abc' + 'def'

'abcdef'

In [91]:
[10, 20, 30] + [40, 50, 60]

[10, 20, 30, 40, 50, 60]

In [92]:
d1 + d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [93]:
d1.update(d2)   # add every key-value pair from d2 into d1

d1

{'a': 1, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [94]:
# 3.9   |  
d1 | d2  # returns a new dict, based on merging d1 + d2

TypeError: unsupported operand type(s) for |: 'dict' and 'dict'

In [95]:
d = {'a':1, 'b':2, 'c':3}

In [96]:
d['b'] = 9876
d

{'a': 1, 'b': 9876, 'c': 3}

In [ ]:
d = {'a':1, 'b':2, 'c':3}

# setdefault
if 'b' not in d:
    d['b'] = d
print(d['b'])

In [97]:
status_flags = {'is_admin':True, 'changed_password':True, 'read_email':True}

In [98]:
s = set([10, 20, 30, 40, 50])
s

{10, 20, 30, 40, 50}

In [99]:
30 in s

True

In [100]:
for one_item in s:
    print(one_item)

40
10
20
50
30

In [101]:
s.add(100)
s

{10, 20, 30, 40, 50, 100}

In [102]:
s.add(100)
s.add(100)
s.add(100)

In [103]:
s

{10, 20, 30, 40, 50, 100}

In [104]:
set([10, 20, 30, 20, 30, 40, 20, 30, 40, 20, 30, 40, 50])

{10, 20, 30, 40, 50}

In [105]:
s

{10, 20, 30, 40, 50, 100}

In [107]:
s.remove(100)

In [108]:
s

{10, 20, 30, 40, 50}

In [109]:
s.remove(50)

In [110]:
s.remove(50)

KeyError: 50

In [111]:
s1 = {10, 20,30, 40}
s2 = {10, 20}
s3 = {30, 40, 50, 60}

In [112]:
s2 < s1

True

In [113]:
s2 < s2

False

In [114]:
s2 <= s2

True

In [115]:
s1 - s2

{30, 40}

In [116]:
s1 - s3

{10, 20}

In [117]:
s3 - s1

{50, 60}

In [118]:
s1 ^ s3

{10, 20, 50, 60}

In [119]:
s1

{10, 20, 30, 40}

In [120]:
s2

{10, 20}

In [121]:
s3

{30, 40, 50, 60}

In [122]:
s1 | s3  # union

{10, 20, 30, 40, 50, 60}

In [123]:
s1 & s3  # intersection

{30, 40}

In [124]:
s1 & s2 & s3

set()

In [125]:
s1 + s3

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [126]:
s1.union(s3)

{10, 20, 30, 40, 50, 60}

In [127]:
s1.intersection(s3)

{30, 40}

In [128]:
s1.symmetric_difference(s3)

{10, 20, 50, 60}

In [ ]:
# Scrabble 

letters = 'abcdefg'

Word: cab
    Yes, you can make that word
Word: gaffe
    Yes, you can make that word
Word: elephant
    No, you cannot make that word

In [129]:
letters = set('abcdefg')

while True:
    one_word = raw_input("Enter a word: ").strip()
    
    if not one_word:
        break
        
    if set(one_word) <= letters:
        print('You can make {0} from {1}'.format(one_word, letters))
    else:
        print('You CANNOT make {0} from {1}'.format(one_word, letters))

Enter a word: gaffe
You can make gaffe from set(['a', 'c', 'b', 'e', 'd', 'g', 'f'])
Enter a word: cab
You can make cab from set(['a', 'c', 'b', 'e', 'd', 'g', 'f'])
Enter a word: bad
You can make bad from set(['a', 'c', 'b', 'e', 'd', 'g', 'f'])
Enter a word: elephant
You CANNOT make {0} from {1}.format(one_word, letters)
Enter a word:

In [131]:
total = 0

for one_number in raw_input("Enter numbers: ").split():
    if one_number.isdigit():
        total += int(one_number)
        
print('total = {0}'.format(total))

Enter numbers: 10 10 10 20 20 20
total = 90

In [132]:
# sum DISTINCT/DIFFERENT numbers

total = 0

s = set(raw_input("Enter numbers: ").split())

for one_number in s:
    if one_number.isdigit():
        total += int(one_number)
        
print('total = {0}'.format(total))

Enter numbers: 10 10 10 20 20 20
total = 30