In [1]:
# None
# bool -- True False
# int, float

# sequence
# - str     -- immutable, contains characters (bytes)
# - list    -- mutable, contains anything
# - tuple   -- immutable, contains anything

In [2]:
# [i] -- get an item
# [b:e] -- get a slice
# [b:e:s] -- get a slice, step size s
# "in" finds in a sequence
# .index returns the index of an item
# for loops on sequences

In [3]:
d = {}  
type(d)

dict

In [4]:
len(d)

0

In [5]:
# key-value pairs  ... name-value pairs

d = {'a':1, 'b':2, 'c':3}

In [6]:
len(d)

3

In [7]:
d['b']

2

In [8]:
d['c']

3

In [9]:
d['a']

1

In [10]:
d['A']

KeyError: 'A'

In [11]:
x = 'a'
d[x]

1

In [12]:
d

{'a': 1, 'b': 2, 'c': 3}

In [16]:
'a' in d  # searches in keys, not values

True

In [14]:
d

{'a': 1, 'b': 2, 'c': 3}

In [15]:
1 in d

False

In [17]:
dict()

{}

In [18]:
dict([('a',1), ('b',2), ('c',3)])

{'a': 1, 'b': 2, 'c': 3}

In [19]:
# (1) Create a "menu" dictionary, where items are keys and prices are values
# (2) Ask the user to order something.  Results can be:
# - Empty string, we print the total and exit
# - Something on the menu, we print the price and new total
# - Something *NOT* on the menu, we scold the customer

In [ ]:
Order: sandwich
  sandwich is 20, total is 20
Order: tea
  tea is 10, total is 30
Order: elephant
  We are fresh out of elephant today
Order: <enter>
Your total is 30

In [ ]:
dict([
    ('a',1), 
          ('b',2), 
              ('c',3)
])

In [21]:
menu = {'sandwich':20, 'tea':10, 'salad':25}

total = 0

while True:
    order = raw_input("Order: ").strip()
    
    if not order:
        break
        
    if order in menu:
        price = menu[order]
        total += price
        print('{0} costs {1}, total is {2}'.format(order, price, total))
    else:
        print('We are out of {0} today.'.format(order))
        
print('Total is {0}'.format(total))

Order: sandwich
sandwich costs 20, total is 20
Order: tea
tea costs 10, total is 30
Order: elephant
We are out of elephant today.
Order:
Total is 30

In [22]:
d = {}
d['a'] = 1

d

{'a': 1}

In [23]:
d['b'] = 2
d['c'] = 3

d

{'a': 1, 'b': 2, 'c': 3}

In [24]:
d['a'] = 999
d

{'a': 999, 'b': 2, 'c': 3}

In [25]:
mylist = [100, 200, 300]
d[mylist] = 400

TypeError: unhashable type: 'list'

In [26]:
d = {'a':1, 'b':2, 'c':3}

while True:
    k = raw_input("Enter a key: ").strip()
    
    if not k:
        break
        
    if k in d:
        print('d[{0}] is {1}'.format(k, d[k]))
    else:
        print('{0} is not a key in d'.format(k))

Enter a key: a
d[a] is 1
Enter a key: b
d[b] is 2
Enter a key: c
d[c] is 3
Enter a key: asdfafaf
asdfafaf is not a key in d
Enter a key:

In [27]:
d

{'a': 1, 'b': 2, 'c': 3}

In [28]:
d.get('a')   # if 'a' in d, return d['a']

1

In [29]:
d.get('b')

2

In [30]:
d.get('x')  # if 'x' in d, return d['x'] ... otherwise, None

In [31]:
d.get('x', 'Nothing to see here')  # if 'x' in d, return d['x'] ... otherwise, our str

'Nothing to see here'

In [32]:
# City: Jerusalem
# Rain: 3
# City: Tel Aviv
# Rain: 4
# City: Jerusalem
# Rain: 5
# City: <enter>
    
# {'Jerusalem':8, 'Tel Aviv':4}

In [35]:
rainfall = {}

while True:
    city_name = raw_input("Enter city name: ").strip()
    
    if not city_name:
        break
        
    mm_rain = int(raw_input("Enter mm rain: "))
    
    rainfall[city_name] = rainfall.get(city_name, 0) + mm_rain

#     if city_name in rainfall:
#         rainfall[city_name] += mm_rain    
#     else:
#         rainfall[city_name] = mm_rain
    
print(rainfall)

Enter city name: Jerusalem
Enter mm rain: 5
Enter city name: Tel Aviv
Enter mm rain: 6
Enter city name: Jerusalem
Enter mm rain: 7
Enter city name:
{'Tel Aviv': 6, 'Jerusalem': 12}

In [36]:
mylist = [10, 20, 30, 40, 50]

for one_item in mylist:
    print(one_item)

10
20
30
40
50

In [37]:
d = {'a':1, 'b':2, 'c':3}

for one_item in d:
    print(one_item)

a
c
b

In [38]:
d = {'a':1, 'b':1, 'c':1, 'd':1}

In [39]:
d['a']

1

In [40]:
d['b']

1

In [41]:
d = {'a':1, 'b':2, 'c':3}

for one_item in d:
    print(one_item)

a
c
b

In [42]:
for one_key in d:
    print('{0}: {1}'.format(one_key, d[one_key]))

a: 1
c: 3
b: 2

In [43]:
d.items()

[('a', 1), ('c', 3), ('b', 2)]

In [44]:
for t in d.items():
    print('{0}: {1}'.format(t[0], t[1]))

a: 1
c: 3
b: 2

In [45]:
for index, item in enumerate(mylist):
    print('{0}: {1}'.format(index, item))

0: 10
1: 20
2: 30
3: 40
4: 50

In [46]:
for key, value in d.items():
    print('{0}: {1}'.format(key, value))

a: 1
c: 3
b: 2

In [47]:
d.keys()

['a', 'c', 'b']

In [48]:
d.values()

[1, 3, 2]

In [49]:
3 in d.values()

True

In [50]:
str(d)

"{'a': 1, 'c': 3, 'b': 2}"

In [51]:
'*'.join(d)

'a*c*b'